<%- include('../partials/header') %>

<form id='new-workout-form' action="/workouts" method="POST">
    <label >Workout Name: </label>
    <input type="text" name="name" autocomplete="off">
    <br>
    <label>Target Area: </label>
    <select name="targetArea">
        <option value="Cardio">Cardio</option>
        <option value="Core">Core</option>
        <option value="Full Body">Full Body</option>
        <option value="Lower Body">Lower Body</option>
        <option value="Upper Body">Upper Body</option>
    </select>
    <br>
    <label>Equipment: </label>
    <select name="equipment">
        <option value="None">None</option>
        <option value="Minimal">Minimal</option>
        <option value="Moderate">Moderate</option>
        <option value="Substantial">Substantial</option>
    </select>
    <p></p>
    <input type="submit" value="Add Workout">
</form>

<%- include('../partials/footer') %>