<%- include('./partials/header') %>

<div id="home-text">    
    <h4>Welcome to the one-stop shop for keeping track of your favorite workouts!</h4>
    <p style="font-size:13px">Have you ever done a workout you loved.. only to forget what it was a week later? I know I have!</p>
    <p style="font-size:13px">Allow me to present you with a platform where you can create and save those workouts in one place so you will always have access to them!</p>    
</div>

<%- include('./partials/footer') %>