body {
  background-image: url("https://i.imgur.com/7UihpE8.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 5px;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

a {
  color: black;
}

body > nav {
  grid-area: nav;
  background-image: url("https://i.imgur.com/qWjfwU4.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
  border-radius: 5px;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
  background-color: lightgray;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

table {
  font-size: 20px;

}

table thead th {
  font-size: 18px;
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  font-size: 15px;
  padding: 10px;
  text-align: center;
  min-width: 100px;
}

#workout-table {
  background-color: #D3D3D3;
  border-radius: 5px;
  padding: 3px;
}

#exercise-table {
  background-color: #D3D3D3;
  border-radius: 5px;
  padding: 3px;
}

#new-workout-form {
  background-color: #D3D3D3;
  width: 150px;
  border-radius: 5px;
  padding: 3px;
}

#new-exercise-form {
  background-color: #D3D3D3;
  width: 150px;
  border-radius: 5px;
  padding: 3px;
}

#workout-detail {
  background-color: #D3D3D3;
  width: 375px;
  border-radius: 5px;
  padding: 3px;
}

#exercise-detail {
  background-color: #D3D3D3;
  width: 300px;
  border-radius: 5px;
  padding: 3px;
}

#edit-workout-form {
  background-color: #D3D3D3;
  width: 300px;
  border-radius: 5px;
  padding: 3px;
}

#edit-exercise-form {
  background-color: #D3D3D3;
  width: 300px;
  border-radius: 5px;
  padding: 3px;
}

#home-text {
  width: 50vw;
  background-color: #D3D3D3;
  border-radius: 5px;
  padding: 3px;
}

.button:active {
  transform: translateY(2px);
}

textarea {
  resize: none;
  height: 50px;
}